#pta-filter-wrap { position:relative; max-width:300px;
	i { position:absolute; top:50%; margin-top:-8px; opacity:0.4; z-index:2; }
}
#pta-icon-search { left:8px; }
#pta-icon-clear { right:8px; display:none; cursor:pointer;
	&:hover { opacity:0.8; }
}
#pta-filter { padding-left:28px;
	&:focus + i { opacity:0.8; }
}

#ProcessTemplateAccessTable {
	.pta-access-col { width:60%; }
	i { cursor:pointer;
		&.create-disabled, &.view-disabled  { cursor:not-allowed; }
	}
	tr:hover td { background:none !important; }
	.access-table {
		td { padding-top:0; padding-bottom:0; }
	}
	.state-true { color:#e83561; }
	.state-false { color:#d5d5d5; }
	tr.unmanaged {
		.access-table { display:none; }
		.pta-inherit { display:none; }
	}
}
