#pta-filter-wrap {
  position: relative;
  max-width: 300px; }
  #pta-filter-wrap i {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    opacity: 0.4;
    z-index: 2; }

#pta-icon-search {
  left: 8px; }

#pta-icon-clear {
  right: 8px;
  display: none;
  cursor: pointer; }
  #pta-icon-clear:hover {
    opacity: 0.8; }

#pta-filter {
  padding-left: 28px; }
  #pta-filter:focus + i {
    opacity: 0.8; }

#ProcessTemplateAccessTable .pta-access-col {
  width: 60%; }
#ProcessTemplateAccessTable i {
  cursor: pointer; }
  #ProcessTemplateAccessTable i.create-disabled, #ProcessTemplateAccessTable i.view-disabled {
    cursor: not-allowed; }
#ProcessTemplateAccessTable tr:hover td {
  background: none !important; }
#ProcessTemplateAccessTable .access-table.unmanaged {
  display: none; }
#ProcessTemplateAccessTable .access-table td {
  padding-top: 0;
  padding-bottom: 0; }
#ProcessTemplateAccessTable .state-true {
  color: #e83561; }
#ProcessTemplateAccessTable .state-false {
  color: #d5d5d5; }
